/* main elements*/

html, body, .container {
		height: 100%;
		margin: 0;
	}


body {
	background-color: #FFFFFF;
	font-family: helvetica;
	color: #000000;
	font-size: 1.5em;
}

@media only screen and (min-width: 321px) {
		.container {
		display: table;
		width: 100%;
}

.row { 
	display: table-row; 
}

.column {
		display: table-cell;
		vertical-align: middle;
}
	
.wrapper {
		margin: 0 auto;
		width: 50%;
		background-color: #7FC6A6;
		border-radius: 25px;
		margin-bottom: 15px;
}

.wrapper .header { 
	background-color: #FFFFFF;
	border-radius: 25px;
	padding: 10px;
	width: 100%;
	margin-bottom: 130px;
}

.header img {
	width: 20%;
	float: left;
	margin-right: 8px;
}

.header p {	
	margin: 0;
	font-size: 1.5em;

}

a {
	color: #000000;
}

.whole-guestion {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 0.5px;
}





/* #top, #bottom, #left, #right {
	background: #000000;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 20px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 20px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

.footer {
	padding: 40px;

	
}

 /* font styles */
.h1 {
	font-size: 10em;
	font-weight: bold;
	font-size: 2em;
}

p {
	font-size: 3em;
}

.question {
	font-size: 1.5em;
	font-weight: bold;
}


